@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/variable/pretendardvariable-dynamic-subset.css');

body {
  overflow: hidden;
  font-family: Pretendard Variable, sans-serif;
  font-weight: 600;
  user-select: none;
}

.button-icon {
  @apply bg-ctp-surface1 w-8 h-8 shadow-md rounded-full flex justify-center items-center transition-all;
  &:hover {
    @apply bg-ctp-overlay0 transition-all;
  }
}

.line-dot {
  @apply flex-grow border-b-2 border-ctp-subtext0 border-dotted;
}

.border-t {
  @apply border-ctp-subtext0;
}

.hover-button {
  @apply transition-all;
  &:hover {
    @apply text-ctp-overlay2 transition-all cursor-pointer;
  }
}

.hyperlink {
  @apply transition-all;
  &:hover {
    @apply text-ctp-blue transition-all;
  }
}

::-webkit-scrollbar {
  display: none;
}
